
<% if @sale_items %>
  <% @sale_items.each do |sale_item| %>
    <h1><%= sale_item.name %> </h1>
    <p><%= image_tag attachment_url(sale_item, :image, :fill, 300, 300) %> </p>
  <% end %>
<% end %> 
