/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.general_body{
  margin-top: 72px;
}

#sub-container{ 
  padding-left: 0px;
  padding-right: 0px;
}

.brand{
    font-size: 25px;
    color: white;  
    font-family: 'Orbitron'
}

#main_banner{
          background-color: #CFCFCF;
        }

.navbar-default .navbar-nav > li > a{
  color: white;
  font-size: 24px;
}

#banner_list{
  font-size: 30px;
  color: grey;
}

#top_container{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.main_nav{
  padding-right: 0px;
  padding-left: 0px;
  border: solid #2c3e50;
  background-color: #3939E4;
}
.body_container{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
#create_sale_item_link{ 
  margin-top: 30px;
   }

.banner_body{
  margin-top: 30px;
  background-color: #003656;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border: solid #2c3e50;
}

#headline{
  margin-top: -43px;
  text-shadow: 2px 2px black;
  font-size: 55px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

@media(max-width:767px){

    .navbar-default .navbar-nav > li > a{
      color: white;
      font-size: 24px;
    }

    .navbar-header{
     padding-left: 15px;
    }

    #main_banner{
      height: 405px;
      width: 100%;
      margin-top: 72px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 10px;
      padding-top: 49px;
      padding-left: 10px;
  }
  .banner_logo {
    width: 350px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: -270px;
    left: 0;
    right: -329px;
    bottom: 0;
  }

}
@media(min-width:768px){
  .general_body{
    margin-top: 122px;
  }
  .navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 24px;
  };

  #nav-links{
    margin-left: 50px;
    margin-right: 120px;
    width: 600px;
  };

  #main_banner{
    height: 345px;
    width: 100%;
    margin-top: 122px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: 49px;
    padding-left: 10px;
  };

  #banner_list {
    font-size: 26px;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: grey;
  };

  #headline {
    margin-top: -43px;
    text-shadow: 2px 2px black;
    font-size: 40px;
    color: white;
  };

  .banner_logo{
    width: 420px;
    height: 320px;
    position: absolute;
    margin: auto;
    top: 274px;
    left: 0;
    right: -90px;
    bottom: 0;
  };

}
@media(min-width:992px){
  .navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 24px;
  }
  #nav-links{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%
  };
  #main_banner{
    height: 330px;
    width: 100%;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: 49px;
    padding-left: 10px;
  };
  .banner_logo{
    width: 525px;
    height: 370px;
    position: absolute;
    margin: auto;
    top: 230px;
    left: 0;
    right: -140px;
    bottom: 0;
  };
}

@media(min-width:1200px){
  .navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 24px;
  }
  #main_banner{
      height: 330px;
      width: 100%;
      margin-top: 72px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 10px;
      padding-top: 49px;
      padding-left: 10px;
  };

  .banner_logo{
    width: 525px;
    height: 370px;
    position: absolute;
    margin: auto;
    top: 230px;
    left: 0;
    right: -140px;
    bottom: 0;
  };
}


.marketing{
  margin-top: 100px;
}

.sale-item-box{
  padding: 12px 12px;
  border: solid black;
}




