// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo{
    height: 45px;
}


#brand_box{
    padding: 10px 5px 10px 5px;
}

#sub_title{

}

.reds{
    border: solid red;
}

.nav-links{

}